/* INDEX */
body {
  background-color: black;
  margin-top: 30px;
}
h1 {
  text-align: center;
  color: white;
  font-size: 70px;
  font-family: 'Oswald', sans-serif; 
  
}
i {
	font-size: 35px;
	padding: 15px;
}
.page-links {
	text-align: center;
	padding-bottom: 40px;
}
.spotify {
  color: rgb(249, 179, 226);
}
.soundcloud {
  color: rgb(249, 179, 226);
}
.youtube {
  color: rgb(249, 179, 226);
}
.title-photos {
  display: inline-block;
  text-align: center;
  width: 100%;
  opacity: 0.8;
  white-space: nowrap;
}
.img-1 {
	padding: 10px;
	margin: auto;
}
.artist-list {
	text-align: center;
}
li {
	display: inline;
}
.names {
	color: rgb(249, 179, 226);
	font-size: 25px;
	padding: 15px;
	margin: auto;
	font-family: 'Oswald', sans-serif; 
}
.two {
	padding-top: 50px;
	padding-bottom: 50px;
}
.logo {
	text-align: center;
	padding-bottom: 80px;
}
h4 {
	font-size: 13px;
	color: white;
}
h4 {
	display: inline;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
	background-color: black;
}
.right {
	float: right;
	padding: 10px;
	padding-right: 20px;
	color: rgb(249, 179, 226);
}
.left {
	float: left;
	padding-left: 20px;
}
/* ABOUT */
.rabbit {
	height: 500px;
	width: auto;
	opacity: 0.5;
}
.paragraph {
	padding: 40px 0px 400px 20px;
}
p {
	text-align: center;
	color: white;
	font-size: 20px;
}
