/* INDEX */

body {
  background-color: black;
  margin: auto;
}
h1 {
  text-align: center;
  color: white;
  font-size: 70px;
  font-family: 'Oswald', sans-serif; 
  
}
i {
	font-size: 35px;
	padding: 15px;
}
.page-links {
	padding-bottom: 40px;
}
.spotify {
  color: rgb(249, 179, 226);
}
.soundcloud {
  color: rgb(249, 179, 226);
}
.youtube {
  color: rgb(249, 179, 226);
}
.title-photos { 
  opacity: 0.8;
}
.img-1 {
	padding: 10px;
	margin: auto;
}
li {
	display: block;
}
.title-photos {
	margin: auto;
}
.names {
	color: rgb(249, 179, 226);
	font-size: 25px;
	padding: 15px;
	margin: auto;
	font-family: 'Oswald', sans-serif; 
}
.two {
	padding-top: 50px;
	padding-bottom: 50px;
}
.logo {
	text-align: center;
	padding-bottom: 80px;
}
h4 {
	font-size: 13px;
	color: white;
}
h4 {
	display: inline;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
	background-color: black;
}
.right {
	float: right;
	padding: 10px;
	padding-right: 20px;
	color: rgb(249, 179, 226);
}
.left {
	float: left;
	padding-left: 20px;
}

/* ABOUT */

.paragraph {
	padding: 40px 0px 400px 20px;
}
p {
	text-align: center;
	color: white;
	font-size: 20px;
}
