/* INDEX */
body {
  background-color: black;
  margin: 50px 100px 50px 100px;
}
.title {
  
}
}
.logo {
  margin: auto;
  float: left;
}
h1 {
  text-align: center;
  color: white;
  font-size: 70px;
  font-family: 'Oswald', sans-serif;
  float: right;
  position: relative; bottom: -50px;
  
}
i {
	font-size: 35px;
	padding: 15px;
}
.page-links {
	text-align: center;
	padding-top: 20px;
}
.spotify {
  color: rgb(239, 55, 199);
}
.soundcloud {
  color: rgb(239, 55, 199);
}
.youtube {
  color: rgb(239, 55, 199);
}
.title-photos {
	text-align: center;
	padding-top: 70px;
}
.img-1 {
	padding: 20px;
	margin: auto;
}
.artist-list {
	text-align: center;
	position: relative; bottom: -250px;
	padding-left: 30px;
}
li {
	display: inline;
	padding: 25px;
	font-size: 35px;
}
.names {
	color: rgb(239, 55, 199);
}
.list-edit {
	text-align: center;
	position: relative; right: -70px;
}
